# **WEEK TWO**

**Data Cleaning & Pandas Operations**

--------------------------------

In [2]:
import pandas as pd

df = pd.read_csv("ecommerce_sale_analysis.csv")
df.head()

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257

ðŸ“š Data Cleaning

In [3]:
df.shape

(1000, 18)

In [4]:
df.info()# use this to check for null values and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1000 non-null   int64
 1   product_name    1000 non-null   object
 2   category        1000 non-null   object
 3   price           1000 non-null   float64
 4   review_score    1000 non-null   float64
 5   review_count    1000 non-null   int64
 6   sales_month_1   1000 non-null   int64
 7   sales_month_2   1000 non-null   int64
 8   sales_month_3   1000 non-null   int64
 9   sales_month_4   1000 non-null   int64
 10  sales_month_5   1000 non-null   int64
 11  sales_month_6   1000 non-null   int64
 12  sales_month_7   1000 non-null   int64
 13  sales_month_8   1000 non-null   int64
 14  sales_month_9   1000 non-null   int64
 15  sales_month_10  1000 non-null   int64
 16  sales_month_11  1000 non-null   int64
 17  sales_month_12  1000 non-null   int64
dtypes: float64(2), int64(14), object(2)
memory usage: 140.8+ KB

In [5]:
df.describe() # used this to get statistical summary of numerical columns

,product_id,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,247.677130,3.027600,526.506000,498.306000,507.661000,506.739000,503.823000,487.194000,491.653000,507.011000,504.569000,491.934000,514.798000,505.83800,500.386000
std,288.819436,144.607983,1.171243,282.269932,289.941478,285.992689,294.010873,286.645567,287.844324,289.234018,291.047287,289.945691,287.514731,288.710119,288.82451,278.509459
min,1.000000,7.290000,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,1.000000,0.00000,4.000000
25%,250.750000,121.810000,2.000000,283.750000,245.500000,262.500000,243.750000,261.500000,221.000000,236.000000,254.000000,240.500000,247.250000,267.000000,251.25000,259.000000
50%,500.500000,250.920000,3.100000,543.000000,507.500000,508.000000,493.000000,501.500000,497.000000,479.500000,522.500000,499.500000,495.500000,532.000000,502.00000,500.500000
75%,750.250000,373.435000,4.000000,772.000000,740.750000,756.250000,777.250000,749.500000,727.000000,740.500000,757.250000,762.250000,735.250000,770.250000,761.00000,730.000000
max,1000.000000,499.860000,5.000000,999.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000

In [6]:
df.isna().sum()

product_id        0
product_name      0
category          0
price             0
review_score      0
review_count      0
sales_month_1     0
sales_month_2     0
sales_month_3     0
sales_month_4     0
sales_month_5     0
sales_month_6     0
sales_month_7     0
sales_month_8     0
sales_month_9     0
sales_month_10    0
sales_month_11    0
sales_month_12    0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.rename(columns={'product_name':'name','product_id':'id'},inplace=True)
df

,id,name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

*we have 1000 rows and 18 columns in total. There are  no missing values, so missing value handling is not needed. The data shows no duplicate values either. All datatypes are accurate.*

ðŸ“š Pandas Operations

lets look for poorly rated products by customers.

In [9]:
df[df.review_score<=3]

,id,name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
8,9,Product_9,Electronics,302.55,2.0,848,809,693,419,106,616,85,42,992,696,298,213,708
9,10,Product_10,Clothing,355.50,3.0,400,319,390,636,87,7,555,485,566,632,462,561,179
10,11,Product_11,Toys,15.19,1.9,182,125,590,12,128,66,841,595,768,737,724,439,341
13,14,Product_14,Books,110.11,1.2,729,203,214,100,340,365,377,50,812,362,55,488,835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,Product_992,Home & Kitchen,348.87,1.6,443,32,295,287,819,660,45,287,559,275,143,958,618
993,994,Product_994,Home & Kitchen,297.16,1.5,13,49,55,186,246,305,602,133,461,30,656,413,706
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

In [10]:
df.review_score

0      1.7
1      3.2
2      4.5
3      3.9
4      4.2
      ...
995    3.6
996    4.8
997    1.3
998    1.2
999    2.1
Name: review_score, Length: 1000, dtype: float64

A new column review_category, was created by grouping review scores into Poor, Average, and Good to understand how users favor each product.

In [11]:
def categorize_review(review_score):
    if review_score> 4:
        return 'Good'
    elif 2<=review_score <= 4:
        return 'Average'
    else:
        return 'Poor'
df['review_category'] = df['review_score'].apply(categorize_review)  
df.head(5)

,id,name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,review_category
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306,Poor
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353,Average
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392,Good
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203,Average
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257,Good

which product cost high.

In [12]:
df.loc[df.price.idxmax(),'name']

'Product_532'

Category-wise price statistics were calculated to understand pricing distribution across different product categories.

In [13]:
df.groupby('category').agg(
    maximum_price=('price', 'max'),
    minimum_price=('price', 'min'),
    average_price=('price', 'mean')
).sort_values('average_price', ascending=False)

                maximum_price  minimum_price  average_price
category
Health                 498.45           7.73     265.142590
Sports                 485.09          12.65     254.216275
Toys                   496.52          10.44     251.402980
Books                  499.86           8.44     251.384805
Home & Kitchen         495.08           7.29     239.769680
Electronics            498.34           7.51     239.674275
Clothing               484.89          11.02     230.041786

ðŸ“š Business / Domain Questions

1. Which month show peak sales activity?

In [14]:
# Select only the monthly sales columns
monthly_sales = df.loc[:, 'sales_month_1':'sales_month_12'].sum()
monthly_sales.idxmax()

'sales_month_10'

*This indicates that Month 10 has the highest sales activity. so, more products should be produced or stocked during this month to meet the increased needs. If sufficient products is not maintained, the platform may fail to satisfy customer needs, leading to  loss of sales.*

2. Which products are overpriced compared to their ratings?

In [15]:
over_priced = df.sort_values(by=['price', 'review_score'], ascending=[False,True]) # Sort by price descending and review_score ascending
over_priced

,id,name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,review_category
531,532,Product_532,Books,499.86,3.4,162,667,48,734,711,658,950,989,438,588,615,829,303,Average
847,848,Product_848,Health,498.45,1.8,278,832,342,699,462,698,522,993,28,639,749,24,968,Poor
532,533,Product_533,Electronics,498.34,3.9,347,491,684,697,663,1,367,625,374,418,853,879,702,Average
475,476,Product_476,Toys,496.52,3.7,325,558,628,738,978,439,803,30,920,177,643,591,576,Average
390,391,Product_391,Books,495.30,1.9,507,527,234,510,1000,918,948,681,784,656,177,444,491,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,206,Product_206,Books,9.55,4.1,848,849,502,327,244,738,662,981,289,801,680,988,604,Good
128,129,Product_129,Books,8.44,2.5,960,336,816,671,905,919,796,372,934,148,210,358,885,Average
72,73,Product_73,Health,7.73,1.2,161,684,552,105,373,586,225,677,798,127,782,372,862,Poor
208,209,Product_209,Electronics,7.51,2.1,259,140,549,473,784,559,989,812,974,640,202,549,863,Average
821,822,Product_822,Home & Kitchen,7.29,1.5,245,798,660,893,557,780,727,316,534,923,710,521,918,Poor

In [16]:
over_priced.head(10)

,id,name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,review_category
531,532,Product_532,Books,499.86,3.4,162,667,48,734,711,658,950,989,438,588,615,829,303,Average
847,848,Product_848,Health,498.45,1.8,278,832,342,699,462,698,522,993,28,639,749,24,968,Poor
532,533,Product_533,Electronics,498.34,3.9,347,491,684,697,663,1,367,625,374,418,853,879,702,Average
475,476,Product_476,Toys,496.52,3.7,325,558,628,738,978,439,803,30,920,177,643,591,576,Average
390,391,Product_391,Books,495.30,1.9,507,527,234,510,1000,918,948,681,784,656,177,444,491,Poor
261,262,Product_262,Home & Kitchen,495.08,4.2,930,302,529,366,848,445,654,1,737,919,625,744,569,Good
705,706,Product_706,Toys,495.03,1.4,311,461,892,170,426,495,870,23,53,176,324,361,377,Poor
518,519,Product_519,Home & Kitchen,493.70,2.0,823,519,735,716,254,939,322,870,6,537,204,91,279,Average
69,70,Product_70,Books,493.51,2.1,908,909,229,935,736,697,686,833,234,183,479,464,614,Average
441,442,Product_442,Electronics,493.39,1.4,739,277,204,851,168,966,391,288,307,837,457,622,255,Poor

3. Which product have the most customer reviews?

In [17]:
df.loc[df.review_count.idxmax(),"name"]

'Product_903'

4. Which category has the highest average price?

In [18]:
df.groupby('category')['price'].mean().idxmax()

'Health'

5. Which category shows the highest customer satisfaction?

In [20]:
df.groupby('category')['review_score'].mean().sort_values(ascending=False).head(1)

category
Electronics    3.143478
Name: review_score, dtype: float64

**insights**

*Analysis shows that some product categories and individual products contribute more to total sales than others, making them important for overall business growth. Products with higher customer ratings generally show better sales performance, indicating that product quality and customer satisfaction influence purchasing decisions. However, a few low-rated products still generate high sales, which may lead to customer dissatisfaction in the long term if quality issues are not addressed.*
*Monthly sales analysis shows that Month 10 has the highest sales activity, suggesting a peak demand period. During this month, product availability and production should be increased to meet customer demand and avoid stock shortages*
*The pricing analysis indicates that some products are priced high despite receiving lower customer ratings. These products may benefit from price adjustments or quality improvements to better match customer expectations.*

In [21]:
df.to_csv("cleaned_ecommerce_sales.csv", index=False)
print("File saved successfully")

File saved successfully